@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-size: 0.8em;
    font-family: 'Inter', sans-serif;
}

#message {
    display: none;
}

#chart {
    display: none;
}

.title {
    display: block;
    min-width: 300px;
}